/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(57, 57, 57);
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}